.idea
.gradle
target
nbproject
*.DS_Store
*.iml
build
/out
classes/
.Rproj.user
results/*.csv
results/*.dot
results/plot/*
results/*.dot.pdf
results/simple/*.csv
results/simple/*.dot
results/simple/*.dot.pdf
results/ResultsSummary_*
